@model IEnumerable<CinemaApp.Models.Reservation>

@{
    ViewData["Title"] = "Lista rezervări";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista rezervări</h2>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Prenume</th>
            <th>Nume</th>
            <th>Telefon</th>
            <th>Loc</th>
            <th>Film</th>
            <th>Sală</th>
            <th>Dată & Oră</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.PhoneNumber</td>
                <td>@item.SeatNumber</td>
                <td>@item.Movie?.Title</td>
                <td>@item.Hall?.HallName</td>
                <td>@item.HallMovie?.StartDate.ToString("dd.MM.yyyy HH:mm")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReservationId" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ReservationId" class="btn btn-sm btn-info">Detalii</a>
                    <a asp-action="Delete" asp-route-id="@item.ReservationId" class="btn btn-sm btn-danger">Șterge</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-success">Adaugă rezervare</a>
